:root {
	
	--y1: 0;
	--y2: 0;

	--sys-hue: 134;
	
	--sys-blue: #126170;

	--sys-main: hsl(var(--sys-hue), 40%, 32%);
	--sys-main-dim: hsl(var(--sys-hue), 40%, 42%, .8);
	--sys-main-half: hsl(var(--sys-hue), 40%, 42%, .5);
	--sys-main-tran: hsl(var(--sys-hue), 40%, 42%, .25);
	--sys-main-bright: hsl(var(--sys-hue), 40%, 62%);
	--sys-main-dark: hsl(var(--sys-hue), 81%, 8%);
	--sys-main-less-dark: hsl(var(--sys-hue), 81%, 14%);
	--sys-light: #efefef;

	--sys-shadow: 0 var(--y1) 3px var(--sys-main-dark),
				inset 0 var(--y2) 3px -2px var(--sys-main-less-dark);
}

body {
	margin: 0;
	background-color: var(--sys-light);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	color: var(--sys-main-dark);
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

nav, main,	footer { width: 100vw; }

nav, footer {
	font-family: Tahoma, sans-serif;
	color: var(--sys-light);
	text-shadow: 1px 1px 0 var(--sys-main-dark);
	font-size: .7rem;
	position: relative;
	
	.sys-content {
		box-shadow: var(--sys-shadow);
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--sys-main);
		z-index: 2;
		position: relative;
	}
}

nav {
	--y1: 1px;
	--y2: -3px;
	
	.sys-menu {
		--y1: 1px;
		--y2: -3px;

		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		top: -2000vh;
		right: 0px;
		width: max-content;
		z-index: 2;
		transition: top .3s;
		box-shadow: var(--sys-shadow);
		background-color: var(--sys-main);
		padding: 3px;

		li {
			background-color: var(--sys-main-less-dark);
			padding: 2px .5rem;
			margin-top: 1px;
			cursor: pointer;
			transition: background-color .3s;

			&.non-app {
				background-color: var(--sys-main-dark);
			}
		}

		li:hover {
			background-color: var(--sys-main-dim);
		}
	}

	button {
		font-size: .6rem;
		margin-top: 2px;
		background-color: var(--sys-main-less-dark);
		padding: .2rem .5rem;
		border-width: 1px;
		border-color: var(--sys-main-dim);
		border-bottom: none;
		border-radius: .5rem .5rem 0 0;
		color: var(--sys-light);
		cursor: pointer;
		text-shadow: 1px 1px 0 var(--sys-main-dark);
		transition: background-color .3s, color .3s;
	}

	button:hover {
		background-color: var(--sys-main-dark);
	}

	.sys-dropdown {
		cursor: pointer;
		padding-inline: .5rem;
	}

	.row {
		align-items: baseline;
	}
}

main {
	flex: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

footer {
	--y1: -1px;
	--y2: 3px;
}

.sys-loader {
	width: 100%;
	height: 100%;
	background-color: var(--sys-main-bright);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: grid;
	place-items: center;

	.background {
		--degrees: 0deg;
		width: 2rem;
		height: 2rem;
		background: linear-gradient(var(--degrees), var(--sys-main), var(--sys-main-less-dark), var(--sys-main-dark));
		border-radius: 50%;
		position: relative;
		overflow: hidden;
	}
	
	.center, .arm {
		position: absolute;
		background-color: var(--sys-main-bright);
	}

	.background, .container {
		transform: rotate(0deg);
		transition: rotate .1s;
		transform-origin: center;
	}

	
	.container {
		display: grid;
		place-items: center;
		width: 100%;
		height: 100%;
		position: relative;
	}

	.arm {
		border: 2px solid var(--sys-main-dim);
		width: 98%;
		border-radius: 999px;
		height: 13%;
}

.arm:nth-child(2) {
		transform: rotate(45deg);
}

.arm:nth-child(3) {
		transform: rotate(90deg);
}

.arm:nth-child(4) {
		transform: rotate(135deg);
}

	.center {
		border-radius: 50%;
		width: 45%;
		height: 45%;
	}	
}


.row {
	display: flex;
}

.left-05 {
	margin-left: .5rem;
}